@path: "../vendor/bootstrap/css";
@import (inline) "@{path}/bootstrap.min.css";

@import "variables/var";
@import "variables/mixin";
@import "variables/components";
@import 'critical/header';
@import 'critical/content';
@import 'critical/footer';

.page-container {
  max-width: @contaierWidth;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}