@contaierWidth: 1170px;

@mainBg: #fff;

@secondary-bg-light: #fff;
@secondary-bg-dark: #000;

@btn-bg-green: #03a762;

@text-red: #e31e24;
@text-light: #fcfcfc;
@text-dark: #505050;
@text-black: #000;
@text-green: #03a762;