.section__wrap {
  padding: 50px 0;
}

.section__title {
  font-size: 2.857em;
  margin: 0 0 40px;
}

.section__text {
  font-size: 1.57em;
  line-height: 2.7;
}

.items__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.img__box {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.number__box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.285em;
  line-height: 1;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}

.slider__wrap {
  .slick-dots {
    li {
      button {
        height: 15px;
        width: 15px;
        margin: 0;
        border-radius: 100%;
        background-color: #615f5f;
        .transition(background-color, 0.4s);
        &:before {
          display: none;
        }
      }
      &.slick-active {
        button {
          background-color: #bebebe;
        }
      }
    }
  }
}

.home__main {
  .section__title {
    font-size: 3.5em;
    letter-spacing: 0.2em;
    font-weight: bold;
  }
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  .section__box {
    &--left {
      width: 49%;
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 2%;
      width: 49%;
    }
  }
  .btn__base {
    margin-top: 40px;
    text-align: left;
    a {
      display: inline-block;
    }
  }
}

.home__main-description {
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .section__box {
    &--left {
      width: 47%;
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 3%;
      padding: 30px 0 30px 3%;
      width: 47%;
      border-left: 5px solid @text-red;
    }
  }
  .home__description-title {
    line-height: 2;
    color: #e31e24;
    font-size: 3em;
    letter-spacing: 0.2em;
  }
  .section__text {
    line-height: 2.2;
  }
}

.home__about {
  margin-bottom: 100px;
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  .section__box {
    &--left {
      position: relative;
      display: flex;
      height: inherit;
      width: 49%;
    }
    &--right {
      margin-left: 2%;
      width: 49%;
    }
  }
  .img__box {
    position: absolute;
    display: block;
    left: -15%;
    right: 0;
    top: -80px;
    bottom: -180px;
    img {
      max-width: inherit;
      height: 100%;
      width: auto;
    }
  }
  .items__wrap {
    flex-wrap: wrap;
  }
  .item__box {
    width: 33.33%;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  .item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
  .item__text {
    font-size: 1em;
    color: @text-light;
  }
}

.home__print {
  .items__wrap:not(:last-child) {
    margin-bottom: 40px;
  }
  .item__box {
    text-align: center;
    width: 20%;
    padding: 0 15px;
    .item__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 150px;
      margin-bottom: 10px;
      img {
        height: auto;
        max-width: 150px;
        max-height: 150px;
      }
    }
    .item__text {
      font-size: 1.5em;
      line-height: 1.6;
      color: @text-red;
    }
  }
}

.home__steps {
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  .section__box {
    &--left {
      padding-top: 10px;
      width: 27%;
    }
    &--right {
      margin-left: 3%;
      width: 70%;
    }
  }
  .items__wrap {
    flex-wrap: wrap;
  }
  .item__box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.14em;
    width: 31%;
    margin-right: 2%;
    margin-bottom: 50px;
    &:nth-child(3n){
      margin-right: 0;
    }
  }
  .number__box {
    margin-right: 10px;
  }
  .btn__base {
    max-width: 270px;
    margin: 35px auto 0;
  }
}

.home__calculate {
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  .section__box {
    &--left {
      width: 49%;
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 2%;
      width: 49%;
    }
  }
  .btn__base {
    margin-top: 40px;
    text-align: left;
    a {
      display: inline-block;
    }
  }
}

.home__companies {
  .items__wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .item__box {
    position: relative;
    padding: 0 10px;
    margin-bottom: 30px;
    text-align: center;
    width: 25%;
    &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){
      width: 20%;
    }
    &:nth-child(13){
      width: 100%;
    }
  }
  .item__icon {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .item__overlay {
    opacity: 0;
    z-index: 10;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: 10px;
    width: 300px;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      max-height: 250px;
    }
  }
}

.home__portfolio {
  .slider__portfolio {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
  }
  .slick-slide {
    opacity: 0;
    height: 400px;
    transition: all .5s ease .4s, opacity .5s ease;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .slider__item {
      transition: all .8s ease;
    }
    &.slick-active {
      opacity: 0.4;
      position: relative;
      transform: translateX(60px);
      transition: all .5s ease .2s;
      .slider__item {
        transform: scale(1.2);
      }
      & + .slick-active {
        opacity: 0.8;
        transform: translateX(30px);
        transition: all .5s ease .4s;
        .slider__item {
          transform: scale(1.4);
        }
      }
      &.slick-center {
        z-index: 5;
        opacity: 1;
        transform: translateX(0);
        .slider__item {
          transform: scale(1.8);
        }
        & + .slick-active {
          z-index: 4;
          opacity: 0.8;
          transform: translateX(-30px);
          transition: all .5s ease .4s;
          .slider__item {
            transform: scale(1.4);
          }
          & + .slick-active {
            opacity: 0.4;
            transform: translateX(-60px);
            z-index: 3;
            transition: all .5s ease .2s;
            .slider__item {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  .slider__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 15px 0 rgba(0,0,0,.5);
      outline: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.home__reviews {
  .slider__portfolio {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
  }
  .slick-slide {
    opacity: 0;
    transition: all .5s ease .4s, opacity .5s ease;
    padding: 0 15px;
    &.slick-active {
      opacity: 1;
      transform: scale(0.9);
      &.slick-center {
        transform: scale(1);
        position: relative;
        z-index: 5;
        img {
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        }
        & + .slick-active {
          transform: scale(0.9);
        }
      }
    }
  }
}

.youtube {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 300px;
  img {
    max-width: 100%;
    height: auto;
  }
  .play-button {
    position: absolute;
    font-size: 4em;
    line-height: 1;
    color: @text-light;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}

.home__main-description {
  .item__box {
    width: 25%;
    padding: 0 10px;
  }
  .item__title {
    font-size: 2.857em;
    margin-bottom: 20px;
  }
  .item__sub-title {
    font-size: 1.14em;
    margin-bottom: 20px;
  }
  .item__text {
    font-size: 1em;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px){

}