body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  background-color: @mainBg;
}

.header {
  padding: 35px 0 10px;
  background-color: @mainBg;
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 10px 0;
    border-bottom: 1px solid @text-red;
    .header__logo {
      max-width: 120px;
    }
    .header__address {
      display: none;
    }
    .header__info {
      .phone__box {
        &:nth-child(2){
          display: none;
        }
      }
    }
  }
}

.header__logo {
  max-width: 200px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.header__address {
  color: @text-black;
  font-size: 1.14em;
  line-height: 1;
  margin-top: 5px;
}

.nav__header {
  margin-left: 30px;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      a {
        color: @text-dark;
        font-size: 1.5em;
        outline: none;
        text-decoration: none;
      }
    }
  }
}

.phone__box, .mail__box {
  a {
    text-decoration: none;
    outline: none;
    font-size: 1.42em;
    line-height: 1;
    color: @text-red;
    &:hover {
      text-decoration: underline;
    }
  }
}
.phone__box {
  margin-bottom: 15px;
}

.header__info {
  margin-left: auto;
  text-align: right;
}

@media screen and (min-width: 768px){
  .nav__header {
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      li:not(:first-child) {
        margin-left: 2em;
      }
    }
  }
}