.link__action {
  a {
    color: @text-green;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn__base {
  &--green {
    a, input, button {
      background-color: @btn-bg-green;
      box-shadow: inset 0 4px 7px 0 rgba(255,255,255,.5);
      .transition(all, 0.4s);
      &:hover {
        box-shadow: inset 0 -4px 7px 0 rgba(255,255,255,.5);
      }
    }
  }
}

.slider-wrap {
  .slick-arrow {
    z-index: 10;
    width: 31px;
    height: 51px;
    background: url('../images/slider-btn.png') no-repeat center;
    &:before {
      display: none;
    }
    &.slick-prev {
      left: 41px;
    }
    &.slick-next {
      transform: rotate(180deg) translate(0, 50%);
      right: 41px;
    }
  }
}

.modal-title {
  color: @text-green;
}

.modal-content {
  border-radius: 1rem;
}

@media screen and (min-width: 1100px){
  .slider-wrap {
    .slick-arrow {
      &.slick-prev {
        left: -31px;
      }
      &.slick-next {
        right: -31px;
      }
    }
  }
}