.section__title {
  &--dark {
    color: @text-dark;
  }
  &--light {
    color: @text-light;
  }
  span {
    color: @text-red;
  }
}

.section__wrap--gradient {
  background-image: linear-gradient(to top, #a71b1b 0%, #ee1b13 100%);
}

.number__box {
  border-radius: 100%;
  background-color: @secondary-bg-light;
  color: @text-black;
}

.home__steps {
  .item__box {
    color: @text-light;
  }
}

.home__calculate {
  .section__text {
    color: @text-dark;
    span {
      color: @text-red;
    }
  }
}

.home__companies {
  .items__wrap {
    position: relative;
    .item__box {
      .transition(all, 0.5s);
    }
    &:hover {
      .item__box {
        opacity: 0.3;
        filter: grayscale(100%);
        &:hover {
          z-index: 5;
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }
  }
  .item__icon {
    .transition(all, 0.5s);
    filter: grayscale(0);
  }
  .item__overlay {
    background-color: @secondary-bg-dark;
    .transition(all, 0.4s);
    img {
      filter: grayscale(100%);
      .transition(all, 0.5s);
    }
    &:before {
      content: '';
      z-index: 5;
      top: 0;
      left: 0;
      position: absolute;
      height: 0;
      width: 2px;
      background-color: @secondary-bg-dark;
      .transition(all, 1s);
    }
    &:after {
      content: '';
      z-index: 5;
      bottom: 0;
      right: 0;
      position: absolute;
      height: 0;
      width: 2px;
      background-color: @secondary-bg-dark;
      .transition(all, 1s);
    }
    span {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      &:before {
        content: '';
        z-index: 5;
        top: 0;
        right: 0;
        position: absolute;
        height: 2px;
        width: 0;
        background-color: @secondary-bg-dark;
        .transition(all, 1s);
      }
      &:after {
        content: '';
        z-index: 5;
        bottom: 0;
        left: 0;
        position: absolute;
        height: 2px;
        width: 0;
        background-color: @secondary-bg-dark;
        .transition(all, 1s);
      }
    }

  }
  .item__box {
    &:hover {
      .item__icon {
        img {
          filter: grayscale(0);
        }
      }
      .item__overlay {
        opacity: 1;
        height: 300px;
        &:before, &:after {
          height: 100%;
          background-color: @text-red;
        }
        span {
          &:before, &:after {
            width: 100%;
            background-color: @text-red;
          }
        }
        img {
          filter: grayscale(0);
        }
      }
    }
  }
}

.home__main-description {
  .item__title, .item__sub-title {
    color: @text-black;
  }
  .item__text {
    color: @text-dark;
  }
}
