.social__box {
  ul {
    li {
      a {
        color: @text-light;
        background-color: @secondary-bg-dark;
        border-radius: 100%;
        text-decoration: none;
        outline: none;
        .transition(all, 0.4s);
        &:hover {
          color: @secondary-bg-dark;
          background-color: @text-light;
        }
      }
    }
  }
}