@media screen and (min-width: 768px){
  .nav__header {
    ul {
      li {
        a {
          .transition(color, 0.4s);
          position: relative;
          &:after {
            content: '';
            height: 1px;
            width: 0;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: @text-red;
            .transition(all, 0.4s);
          }
          &:hover {
            color: @text-red;
            &:after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}